%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{deps, [
        {ibrowse, ".*",
         {git, "git://github.com/chef/ibrowse.git", {tag, "v4.0.1.1"}}},
        {chef_authn, ".*",
         {git, "git://github.com/chef/chef_authn.git", {branch, "main"}}}
       ]}.

{dev_only_deps,
 [
  {meck, ".*",
   {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
 ]}.

{cover_enabled, true}.
