%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info]}.
{erl_first_files, ["src/chef_sql_client.erl"]}.

{cover_enabled, true}.

{deps,
 [{meck, ".*",
   {git, "git://github.com/eproxus/meck.git", "HEAD"}},
  {ibrowse, "3.0.4",
   {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v3.0.4"}}},
  {chef_authn, ".*",
   {git, "git@github.com:opscode/chef_authn.git", {branch, "jc/OC-4912/lookup-org_id"}}}

 ]}.

{eunit_opts,
 [verbose,
  {report,{eunit_surefire,[{dir,"."}]}}]}.
