%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info]}.
{erl_first_files, ["src/chef_sql_client.erl"]}.

{deps, [{meck, ".*",
            {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},

        {ibrowse, ".*",
            {git, "git://github.com/opscode/ibrowse.git", {tag, "v4.0.1.1"}}},
        {chef_authn, ".*",
            {git, "git@github.com:opscode/chef_authn.git", {branch, "jw/17"}}}
       ]}.

{eunit_opts,
 [verbose,
  {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
